.products-list{
    width: 70%;
    margin: 0 auto;
}

.products-list .products-list-heading{
    width: 80%;
    text-align: center;
    margin: 5rem auto;
}
.products-list .products-list-heading span{
    font-size: 5.4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.products-list-para {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
}
.products-list-para p{
    margin-top: -4rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
}

.products-list-container {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}