.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 5rem;
  background-color: #e5f0fe;
}

.nav-list {
  font-size: 1.8rem;
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav-h1 {
  font-size: 3.2rem;
}
