.footer {
  max-width: 82rem;
  padding: 3.2rem;
  border-top: 2px solid #e5f0fe;
  margin: 0 auto;
  text-align: center;
}

.footer-text {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
}

.footer-text .footer-link{
  color: inherit;
}